output_dataset
mango_dataset_pro
image_ml
.ipynb_checkpoints/mango_dataset-checkpoint.csv
.ipynb_checkpoints/index-checkpoint.html
.ipynb_checkpoints/contact-checkpoint.php
.ipynb_checkpoints/contact-checkpoint.html
